@page "/AboutUs"

<h1>About Us</h1>

<h5>
    Food & Nutrition Specialist Pte Ltd is a private nutrition consultancy company
    , our goals are to help customer to met their ideal health condition
</h5>

<h2>Mission</h2>
<h5>
    To help customer with their goals by providing evidence-based solutions.
</h5>

<h2>Vision</h2>
<h5>
    To be one of the best nutrition consultancy in singapore
</h5>

<h2>Values</h2>
<h5>
    Integrity, innovative, Sustainable and Quality Services
</h5>
