@page "/ContactUs"

<h1>ContactUs</h1>

<h5>Contact Number: +65 67837262 (Office)</h5>

<h5>Email: foodnutrition@outlook.com</h5>

<h3>Company staff</h3>

<h4>Dr. Steven Lee</h4>
<h5>Contact:83392255</h5>
<h5>Email: StevenLee@outlook.com</h5>

<h4>Dr. Madeline puah</h4>
<h5>Contact:83392255</h5>
<h5>Email: MadelinePuah@outlook.com</h5>